<div class="container box">
 <h1>ユーザー一覧</h1>
 <table class="table">
   <% @customers.each do |customer| %>
   <tr>
     <td class="text-center">
      <%= link_to public_customer_path(customer.id) do %>
        <%= customer.name %>
      <% end %>
     </td>
     <td id="index_relationship_btn_<%= customer.id %>" class="text-center">
      <%= render "public/relationships/index_relationship",customer: customer %>
     </td>
   </tr>
   <% end %>
 </table>
</div>