<div class="container">
 <h1>ユーザー一覧</h1>
 <table class="table">
   <% @customers.each do |customer| %>
   <tr>
     <td>
      <%= link_to public_customer_path(customer.id) do %>
        <%= customer.name %>
      <% end %>
     </td>
     <td>
      <% unless customer == current_customer %>
        <% if customer.follow_user_by(current_customer) %>
          <%= link_to"解除",public_customer_relationships_path(customer.id),method: :delete,class:"btn btn-danger" %>
        <% else %>
          <%= link_to"フォロー",public_customer_relationships_path(customer.id),method: :post,class:"btn btn-success" %>
        <% end %>
      <% end %>
     </td>
   </tr>
   <% end %>
 </table>
</div>