<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <div class="bg-danger p-3 mb-3"><%= message %></div>
    <% end %>
    </ul>
  </div>
<% end %>
