<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
        <% if @key == "follow" %>
          <h1>フォロー一覧</h1>
            <table class="table table-borderless text-center" id = "index_relationship_btn2">
                 <%= render "public/relationships/follow_relationship",follow_user: @follow_customer %>
            </table>

        <% elsif @key == "follower" %>
        <h1>フォロワー一覧</h1>
           <table class="table table-borderless text-center" id = "index_relationship_btn3">
                <%= render "public/relationships/index_relationship",customers: @follower_customer %>
           </table>
        <% end %>
    </div>
  </div>
</div>