<% if park_area.user_favorite_by(current_customer) %>
    <%= link_to public_park_favorites_path(park_area.id),method: :delete,remote: true do %>
      <p>๐ใใใญ<%= park_area.favorite_user.count %>ไปถ</p>
    <% end %>
<% else %>
    <%= link_to public_park_favorites_path(park_area.id),method: :post,remote: true do %>
      <p>๐่ฏใใญ<%= park_area.favorite_user.count %>ไปถ</p>
    <% end %>
<% end %>