<div class="container">
  <%= notice %>
    <div class="contena">
      <div class="slider-image">
        <%= image_tag 'bicycles-gd617e37a4_1280.jpg',class:"active_img top_img" %>
        <%= image_tag 'motorcycle-g2b807d882_1920.jpg',class:"top_img" %>
      </div>
    </div>

  <!--<div class="top_img text-center active">-->
  <!--  <h1 class="pt-5 font-weight-bold">NO!!　路上駐車！！</h1>-->
  <!--  <p>福岡って駐輪場探すの超めんどくさいですよね(原付のみかい、、、、)</p>-->
  <!--  <p>そんな時の為~のサイトです</p>-->
  <!--</div>-->
  <!--<div class="top_second_img text-center ">-->

  <!--</div>-->
</div>



