<div class="container">
  <%= notice %>
    <div class="contena">
      <div class="slider-image">
        <%= image_tag 'bicycles-gd617e37a4_1280.jpg',class:"active_img top_img" %>
        <%= image_tag 'motorcycle-g2b807d882_1920.jpg',class:"top_img" %>
      </div>
    </div>
    <%= javascript_pack_tag "home" %>
</div>



