<div class="container">
  <%= notice %>
  <div class="top_img text-center ">
    <h1 class="pt-5">NO!!　路上駐車！！</h1>
    <p>福岡って駐輪場探すの超めんどくさいですよね(原付のみかい、、、、)</p>
    <p>そんな時の為のサイトです</p>
  </div>
</div>



