@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:serif;
}

.pagination {
  justify-content: center;
}

.show_detail{
  position: relative;
}

.delete_btn{
  position: absolute;
    right: 0;
    bottom: 0;
}

.edit_btn{
  position: absolute;
    left: 0;
    bottom: 0;
}

.container{
  padding-top: 80px;
  // margin-bottom: 10px;
  // height: 80vh;
}



// TOPページのスライドショー(~58行目まで)
.contena{
  height: 80vh;
}

.slider-image {
  justify-content: center;
  position: relative;
  height: 100%;
}

.top_img {
  width: 0;
  position: absolute;
  height: 100%;
}

.active_img {
  width: 100%;
}

.top_text{
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

// footerをヘッダー下部に固定、高さ可変対応。
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
header {
  width: 100%;
}
footer {
  width: 100%;
}

//背景画像
.user_backimage{
  background-image: url("../../assets/images/road.jpg");
  background-size:cover;
  object-position: 80% 20%;
}


//Par showページの最寄り一覧の装飾
.tag {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
}

//背景色
.content{
  background-color: #EEFFFF;
}