@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:serif;
}

.top_img{
    background-image: url("../../assets/images/bicycles-gd617e37a4_1280.jpg");
    height:700px;
    background-size:cover;
    h1,p{
    letter-spacing: 0.1em;
    color:red;
  }
}

.pagination {
  justify-content: center;
}

.show_detail{
  position: relative;
}

.delete_btn{
  position: absolute;
    right: 0;
    bottom: 0;
}

.container{
  margin-top:40px;
}


// 駐車場一覧画面
// #list{
//   display:none;
// }

