@import '~bootstrap/scss/bootstrap';

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:serif;
}

.top_img{
    background-image: url("../../assets/images/bicycles-gd617e37a4_1280.jpg");
    height:700px;
    background-size:cover;
    h1,p{
    letter-spacing: 0.1em;
    color:red;
  }
}

.container{
  background-color:white;
}

.pagination {
  justify-content: center;
}

body{

}

// 駐車場一覧画面
// #list{
//   display:none;
// }

